.App {
  display: flex;
  justify-content: center;
  background: rgb(148, 171, 201);

}
.title {
  text-align: center;
  color: rgb(148, 88, 204);
}
img{
  display: flex;
  width: 250px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
video{
  justify-content: right;
  width: 250px;
  margin-bottom: 20px;
  border-radius: 50px;
}